@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-lion-bg: #0B0E14;
  --color-lion-card: #151A23;
  --color-lion-blue: #2563EB;
  --color-lion-blue-hover: #1D4ED8;
}

:root {
  background-color: var(--color-lion-bg);
  color: white;
}
